  <div class="row">
    <div class="col-12">
      <div class="form-container">
        <div class="form">
          <%= render "form", seedpackage: @seedpackage %>
        </div>
      </div>
    </div>
  </div>

