// Define variables for your color scheme

// For example:
$main-green: #27AE60;
$pink: #FE8F8D;
$green1: #23B572;
$green2: #24B37D;
$green3: #41BB94;
$very-dark-green: #002626;
$white: #ffffff;
$dark-pink: #DA807E;
$light-grey: #E7E7E7;
