.navbar-lewagon {
  justify-content: space-between;
  background: $main-green;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  display: flex;
  justify-content: end;
}
.navbar-light .navbar-nav .nav-link{
  color: $white;
  text-decoration: underline;
  font-size: 20px;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: $light-grey;
}
.nav-link {
  font-family: Roboto , sans-serif;
  font-weight: 500;
  margin-left: 40px;
}
.searchbar {
  background-color: $pink;
  height: 50px;
  width: 716px;
  border-radius: 25px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}
.navbar-lewagon .navbar-brand img {
  width: 50px;
}