.seed-card {
  width: 100%;
  padding: 25px;
}
.seed-card-img {
  background-size: cover;
}
.btn-primary {
  color: $white;
}
.container {

}
.card-container {
  display: flex;
  grid-gap: 16px;
  align-content: space-between;
}
.img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 40px;
  display: flex;
  }

.first-img {
  width: 400px;
  height: 365px;
  border-radius: 25px;
}

.second-img {
  width: 178px;
  height: 178px;
  border-radius: 25px 25px 0px 0px;
  display: block;
  margin: 0px 0px 10px 10px;

}
.third-img {
  width: 178px;
  height: 178px;
  border-radius:  0px 0px 25px 25px;
  display: block;
  margin: 10px 0px 0px 10px;
}
.map {
  height: 400px;
  width: 300px;
  position: sticky;
  top: 0;
  border-radius: 25px;
  margin-left: 240px;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.main-container {
  display: flex;
}

#map {
  height: 100vh;
}

.cards {
  flex-grow: 1;
}
